* {
    text-align: right;
}

body {
    background-image: url(/CSSExercises/images/CasitainLavender.jpg);
    background-size: cover;
}

h2 {
    color: red;
}

p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(225, 176, 170, 0.5);
    cursor: pointer;
}

p {
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:last-child {
    border: 5px dashed green;
}

.webtext:first-child {
    border: 5px dashed gold;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 225, 0.2);
}

#div2 {
    background: rgba(225, 0, 0, 0.2);
}