body {
    background-image: url(/CSSExercises/images/CasitainLavender.jpg);
    background-size: cover;
}

h2{
    color: red;
    text-align: center;
    border: 5px solid purple;
}

p{
    color: pink;
}